.question-pool {
  width: 100%;
  padding: 40px;

  h1 {
    font-size: 13px;
    color: #aeb6b8;
    text-transform: uppercase;
    display: inline;
  }
  div {
    display: inline;
    width: 120px;
    background: url(../assets/down-arrow.png) no-repeat right transparent;
  }
  select {
    background: transparent;
    font-size: 13px;
    color: #1f6791;
    border: 0;
    width: 125px;
    outline: none;
  }
}

.question-delete {
  text-align: right;

  button {
    color: #d0503f;
    font-size: 13px;
    text-align: right;
    text-transform: uppercase;
  }
}
